body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    
  }
  
  .create-account-container {
    position: relative;
    width: 350px;
    height: 510px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .signup-container {
         position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 350px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  max-height: 600px;
  min-height: 200px;
  overflow-y: auto;
  }

  /* .mb-3 {
    margin-bottom: 2px; /* You can reduce this value to decrease the space 
  } */

  #create-account-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .create-account-form h2 {
    text-align: center;
    margin-bottom: 2px;
  }

  .close-btn {
    position: absolute;
    top: 2%;
    right: 5%;
  }
  
  #closeBtn {
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 5px;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1;
  }

  .valid-feedback {
    display: none; /* initially hide */
    color: green;
  }
  .invalid-feedback {
    display: none; /* initially hide */
    color: red;
  }
  
  
  #signInBtn {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #cf2550;
    color: #fff;
    cursor: pointer;
    
  }
  
  #signInGoogleBtn {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    cursor: pointer;
   
  }
  
  #signInBtn:hover {
    background-color: #a11034;
  }
  