body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #f5f5f5;
  }
  
  .create-account-container {
    position: relative;
    width: 450px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #create-account-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-account-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .close-btn {
    position: absolute;
    top: 2%;
    right: 5%;
  }
  
  #closeBtn {
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1;
  }

  .valid-feedback {
    display: none; /* initially hide */
    color: green;
  }
  .invalid-feedback {
    display: none; /* initially hide */
    color: red;
  }
  
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .forgot-password {
    text-decoration: none;
    color: #cf2550;
  }
  
  #signInBtn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #cf2550;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }

  #ResetPswdBtn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #cf2550;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #signInGoogleBtn {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #signInBtn:hover {
    background-color: #a11034;
  }
  


  /* Define the shaking animation */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
  }
  
  /* Apply the shaking animation to the invalid input */
  .invalid-feedback {
  display: none; /* Initially hide the message */
  color: red;
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  }
  
  
  .shake-input {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  }
  input.is-invalid {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  }
  
  
  /* Apply the entrance animation to the form container */
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }}
  .create-account-container {
  
  animation: slideIn 0.5s ease-in-out forwards;
  
  opacity: 0; /* Initially hide the form container */
  }
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }}
  
  
  