/* CSS Styles for seat class cards */
.trainDetailsContainer {
    display: flex;
    gap: 10px;
}


.card-body {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    background-color: transparent !important;
}

.IndividualSeat{
    height: 2rem;
    width: 2rem;
}

.seatCardType{
    height: 2rem;
    width: 2rem;
}

#seatContainer {
    display: flex;
  }

#seatTypeBox{
    padding: 0px;
}

#seatTypeFont{
  font-size: 18px;  
}
  
