body {
  margin: 0;
  overflow: hidden;

}

.background {
  width: 100vw;
  height: 100vh;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #E45A84;
  top: 16%;
  left: 19%;
  animation-duration: 14.2s;
  animation-delay: -4.1s;
  transform-origin: 11vw -2vh;
  box-shadow: 40vmin 0 12.9156232396vmin currentColor;
}
.background span:nth-child(2) {
  color: #583C87;
  top: 62%;
  left: 69%;
  animation-duration: 12.5s;
  animation-delay: -0.4s;
  transform-origin: -13vw 5vh;
  box-shadow: 40vmin 0 8.1952345231vmin currentColor;
}
.background span:nth-child(3) {
  color: #583C87;
  top: 88%;
  left: 53%;
  animation-duration: 11.2s;
  animation-delay: -5.1s;
  transform-origin: 8vw 5vh;
  box-shadow: 40vmin 0 7.5958114696vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 74%;
  left: 86%;
  animation-duration: 14.9s;
  animation-delay: -15.9s;
  transform-origin: 11vw 25vh;
  box-shadow: 40vmin 0 6.3565449614vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 1%;
  left: 71%;
  animation-duration: 10.6s;
  animation-delay: -9.9s;
  transform-origin: 4vw 15vh;
  box-shadow: 40vmin 0 13.7700494677vmin currentColor;
}
.background span:nth-child(6) {
  color: #E45A84;
  top: 32%;
  left: 56%;
  animation-duration: 11.8s;
  animation-delay: -11.6s;
  transform-origin: -18vw 18vh;
  box-shadow: -40vmin 0 6.7864475592vmin currentColor;
}
.background span:nth-child(7) {
  color: #FFACAC;
  top: 58%;
  left: 13%;
  animation-duration: 15.5s;
  animation-delay: -3.5s;
  transform-origin: -4vw 24vh;
  box-shadow: -40vmin 0 5.930729549vmin currentColor;
}
.background span:nth-child(8) {
  color: #E45A84;
  top: 46%;
  left: 76%;
  animation-duration: 11s;
  animation-delay: -9s;
  transform-origin: 16vw 0vh;
  box-shadow: -40vmin 0 11.3917530471vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 65%;
  left: 52%;
  animation-duration: 11.6s;
  animation-delay: -13.8s;
  transform-origin: -18vw 16vh;
  box-shadow: -40vmin 0 5.784245458vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 4%;
  left: 85%;
  animation-duration: 12.2s;
  animation-delay: -7.8s;
  transform-origin: 23vw -2vh;
  box-shadow: 40vmin 0 14.7568672613vmin currentColor;
}
.background span:nth-child(11) {
  color: #583C87;
  top: 22%;
  left: 28%;
  animation-duration: 14.2s;
  animation-delay: -0.6s;
  transform-origin: 11vw 3vh;
  box-shadow: 40vmin 0 5.4370787162vmin currentColor;
}
.background span:nth-child(12) {
  color: #E45A84;
  top: 67%;
  left: 27%;
  animation-duration: 13s;
  animation-delay: -1.8s;
  transform-origin: -3vw 0vh;
  box-shadow: -40vmin 0 8.2425490117vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 100%;
  left: 6%;
  animation-duration: 12.3s;
  animation-delay: -10.8s;
  transform-origin: -18vw -23vh;
  box-shadow: 40vmin 0 10.4439075193vmin currentColor;
}
.background span:nth-child(14) {
  color: #583C87;
  top: 6%;
  left: 2%;
  animation-duration: 15.3s;
  animation-delay: -1.1s;
  transform-origin: 8vw -23vh;
  box-shadow: -40vmin 0 13.8142967042vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 82%;
  left: 61%;
  animation-duration: 13.9s;
  animation-delay: -2.5s;
  transform-origin: 3vw -7vh;
  box-shadow: 40vmin 0 5.4610774995vmin currentColor;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: 15%;
  left: 53%;
  animation-duration: 11.1s;
  animation-delay: -15.6s;
  transform-origin: -5vw -21vh;
  box-shadow: 40vmin 0 9.5148396567vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 43%;
  left: 26%;
  animation-duration: 15.4s;
  animation-delay: -3.8s;
  transform-origin: 7vw -20vh;
  box-shadow: -40vmin 0 14.7131624969vmin currentColor;
}
.background span:nth-child(18) {
  color: #583C87;
  top: 38%;
  left: 25%;
  animation-duration: 11.2s;
  animation-delay: -0.9s;
  transform-origin: -7vw -7vh;
  box-shadow: -40vmin 0 9.9916987997vmin currentColor;
}
.background span:nth-child(19) {
  color: #FFACAC;
  top: 41%;
  left: 20%;
  animation-duration: 13.2s;
  animation-delay: -14.7s;
  transform-origin: -15vw -15vh;
  box-shadow: 40vmin 0 6.3882461107vmin currentColor;
}
.background span:nth-child(20) {
  color: #E45A84;
  top: 85%;
  left: 22%;
  animation-duration: 16s;
  animation-delay: -16s;
  transform-origin: 11vw -12vh;
  box-shadow: -40vmin 0 10.6405700404vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}/*# sourceMappingURL=animate.css.map */